Repository hibernate/hibernate-reactive, pull requests merged in 2025-10, with the labels that each got.

#2531 [4.2] Migrate to release scripts for documentation publishing
  ci/release/Jenkinsfile
  release/build.gradle
Labels: documentation, build, ci, 4.2

#2547 [4.1] Migrate to release scripts for documentation publishing
  ci/release/Jenkinsfile
  release/build.gradle
Labels: documentation, build, ci, 4.1

#2621 [2.4] Bump jbossLoggingAnnotationVersion from 2.2.1.Final to 3.0.1.Final
  gradle/libs.versions.toml
Labels: upgrade, 2.4, dependencies
